@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    top: 0;
}

body{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    background-color: chocolate;
    /* background-color: rgb(185, 185, 185); */
    font-family: 'Fredoka One', cursive;

}

#all-content{
    /* width: 800px;
    height: 600px;
    position: relative; */

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: beige; 
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.2);
}

button {
    font-family: 'Comfortaa', cursive;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: chocolate;
}

.screen {
    background-color: beige;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.2);
}

.splash-screen{
    font-size: 60px;
    font-weight: 900;
    color:chocolate;
    align-self: center;
    padding-bottom: 20px;
}

.game-over{
    font-size: 60px;
    font-weight: 900;
    color:chocolate;
    align-self: center;
    padding-bottom: 20px;
}

.bar_content {
   /*  background-color: aqua;
    height: 100vh; */
    width: 800px;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: calc(50vh - 300px);

}

#bar{
    /* width: 100%; */
    /* border: 2px solid yellow;   */
    width: 100%;
    position:absolute;
    display: flex;
    justify-content:space-between;
}

#lives-screen{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 6px 16px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px solid chocolate;
}

#lives-screen img{
    width: 35px;
    height: 35px;
    padding: 10px 5px;
}

#recipe-screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 0 10px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 20px;
    border: 2px solid chocolate;
}

#recipe-screen img{
    width: 55px;
    height: 55px;
    padding: 10px 5px;
}

.gray-scale{
    filter: grayscale(100%);
}